@model IEnumerable<Trash.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th><h3>Update Your Information</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.LastName, "Edit", "Customers", new { id = customer.Id, addressID = customer.Address.Id }, null) </td>

                </tr>
            }
        </tbody>
    </table>

