@model IEnumerable<Trash.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New Customer", "New", null, new { @class = "btn btn-primary" })
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else

{
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>ZipCode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.LastName, "Edit", "Customers", new { Id = customer.Id }, null) </td>
                    <td>@customer.Address.Zipcode</td>
                </tr>
            }
        </tbody>
    </table>
}
