@model Trash.Models.Customer>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.MembershipName</li>
    @if (!(Model.BirthDate == null))
    {
        <li>Birth Date: @Html.DisplayFor(Model => Model.BirthDate)</li>
    }
</ul>

