@model IEnumerable<Trash.Models.Worker>
@{
    ViewBag.Title = "Index";
}

<h2>GYJ Employees</h2>
@Html.ActionLink("Add Employee", "New", null, new { @class = "btn btn-primary" })

@if (!Model.Any())
{
    <p>We don't have any Employees</p>
}
else

{
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Employee Last Name</th>
                <th>Employee First Name</th>
                <th>Territory Zip-Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var worker in Model)
            {
                <tr>
                    <td>@worker.LastName</td>
                    <td>@worker.FirstName</td>
                    <td>@Html.ActionLink(worker.ZipcodeTerritory.ZipcodeNum, "Territory", "Worker", new { id = worker.ZipcodeTerritory.Id }, null) </td>
                </tr>
            }
        </tbody>
    </table>
}
