@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1><b>GYJ Enterprise</b></h1>
        <p class="lead">Providing families and their communities a better, cleaner, and healthier place to live</p>
    </center>

</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <h2>Garbage Solution</h2>
            <img src="~/Content/trashcan.jpg" height="150" width="150" />
        </center>

    </div>
    <div class="col-md-4">
        <center>
            <h2>Recycle Solution</h2>
            <img src="~/Content/recycling.jpg" height="150" width="150" />
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Time Solution</h2>
            <img src="~/Content/trashtruck.jpg" height="150" width="150" />
        </center>
    </div>
</div>